<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.limit.common.model.vo.Attachment" alias="attachment"/>
		<typeAlias type="com.kh.limit.common.model.vo.CommonName" alias="commonName"/>
		<typeAlias type="com.kh.limit.common.model.vo.Interested" alias="interested"/>
		<typeAlias type="com.kh.limit.common.model.vo.PageInfo" alias="pageInfo"/>
		<typeAlias type="com.kh.limit.common.model.vo.ResellInfo" alias="resellInfo"/>
		<typeAlias type="com.kh.limit.common.model.vo.Trade" alias="trade"/>
		<typeAlias type="com.kh.limit.admin.model.vo.Notice" alias="notice"/>
		<typeAlias type="com.kh.limit.member.model.vo.Member" alias="member"/>
		<typeAlias type="com.kh.limit.usedboard.model.vo.UsedBoard" alias ="usedBoard"/>
		<typeAlias type="com.kh.limit.common.model.vo.SelectUsedBoardVo" alias = "selectUsedBoardVo"/>
		<typeAlias type="com.kh.limit.common.model.vo.ProductResell" alias = "productResell"/>
		<typeAlias type="com.kh.limit.common.model.vo.Interested" alias = "interested"/>
		<typeAlias type="com.kh.limit.common.model.vo.Trade" alias = "trade"/>

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<typeAlias type="com.kh.limit.style.model.vo.Style" alias="style"/>


		<typeAlias type="com.kh.limit.style.model.vo.Like" alias="like"/>
		<typeAlias type="com.kh.limit.style.model.vo.Reply" alias="reply"/>

		<typeAlias type="com.kh.limit.product.model.vo.Product" alias="product"/>

	</typeAliases>

	
	
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/usedBoard-mapper.xml"/>
		<mapper resource="/mappers/notice-mapper.xml"/>
		<mapper resource="/mappers/product-mapper.xml" />
		<mapper resource="/mappers/style-mapper.xml"/>	
		<mapper resource="/mappers/admin-mapper.xml"/>	
	</mappers>
	









</configuration>
