<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noticeMapper">

	<resultMap type="notice" id="noticeResultSet">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_CONTENT" property="noticeContent" />
		<result column="NOTICE_COUNT" property="noticeCount" />
		<result column="CREATE_DATE" property="createDate" />
	</resultMap>

	<select id="selectNoticeCount" resultType="_int">
		SELECT COUNT(*)
  		  FROM NOTICE
  		 WHERE STATUS = 'Y'
		   AND NOTICE_TYPE = 'N'	
	</select> 
	
	<select id="selectQnaCount" resultType="_int">
		SELECT COUNT(*)
  		  FROM NOTICE
  		 WHERE STATUS = 'Y'
  		   AND NOTICE_TYPE = 'Q'
	</select>
	
	<select id="selectQnaList" resultMap="noticeResultSet">
		SELECT 
        		NOTICE_NO,
        		NOTICE_TITLE,
        		NOTICE_COUNT,
			    CREATE_DATE
  		  FROM
        		NOTICE
 		 WHERE
        		STATUS = 'Y'
      
  		 		AND NOTICE_TYPE = 'Q'
 		 ORDER 
 		    BY  CREATE_DATE DESC
	</select>
	
	<select id="selectNotice" parameterType="_int" resultMap="noticeResultSet">
		SELECT 
				NOTICE_NO,
				NOTICE_TITLE, 
				NOTICE_CONTENT, 
				TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
  		  FROM 
  				NOTICE
 		  WHERE 
 		  		NOTICE_NO = #{noticeNo}
   		    AND 
   		    	STATUS = 'Y'
	</select>
	
	<insert id="insertNotice" parameterType="notice">
		INSERT
		  INTO
		  		NOTICE
		  		(
		  		NOTICE_NO,
		  		NOTICE_TITLE,
		  		NOTICE_CONTENT,
		  		NOTICE_TYPE
		  		)
		VALUES
		 		(
		 		SEQ_NNO.NEXTVAL,
		 		#{noticeTitle},
		 		#{noticeContent},
		 		#{noticeType}
		 		)
	</insert>
	
	<select id="selectNoticeList" resultMap="noticeResultSet">
		SELECT 
        		NOTICE_NO,
			    NOTICE_TITLE,
			    NOTICE_COUNT,
			    CREATE_DATE
  		  FROM
        		NOTICE
 		 WHERE
        		STATUS = 'Y'
  		   AND  NOTICE_TYPE = 'N'
 		 ORDER 
 		    BY  NOTICE_NO ASC
	</select>
	
	<update id="deleteNotice" parameterType="_int">
		UPDATE
				NOTICE
		   SET
		   		STATUS = 'N'
		 WHERE
		 		NOTICE_NO = #{noticeNo}
	
	</update>
	
	<update id="updateNotice" parameterType="notice">
		UPDATE
				NOTICE
		   SET
		   		NOTICE_TITLE = #{noticeTitle},
		   		NOTICE_CONTENT = #{noticeContent},
		   		MODIFY_DATE = SYSDATE
		 WHERE
		 		NOTICE_NO = #{noticeNo}
	</update>
	
	<update id="increaseCount" parameterType="_int">
		UPDATE 
				NOTICE
   		   SET 
   		   		NOTICE_COUNT = NOTICE_COUNT + 1
 		 WHERE 
 		 		NOTICE_NO = #{noticeNo}
   		   AND 
   		   		STATUS = 'Y'
	</update>
	
	
	
	
	
	
  
</mapper>
