<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">

	<resultMap type="commonName" id="brandSet">
		<result column="BRAND_NAME" property="commonName"/>
	</resultMap>
	
	<resultMap type="commonName" id="collectionSet">
		<result column="COLLECTION_NAME" property="commonName" />
	</resultMap>
	
	<resultMap type="product" id="productSet">
		<result column="PRODUCT_NO" property="productNo" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRODUCT_CONTENT" property="productContent" />
		<result column="LIKES" property="likes" />
		<result column="COUNT" property="count" />
		<result column="STATUS" property="status" />
		<result column="TRADE_COUNT" property="tradeCount" />
		<result column="PRODUCT_TYPE_NAME" property="productTypeName" />
		<result column="BRAND_NAME" property="brandName" />
		<result column="RELEASE_DATE" property="releaseDate" />
		<result column="RESELL_PRICE" property="resellPrice" />
		<result column="TITLEIMG" property="titleImg" />
		<result column="RELEASE_PRICE" property="releasePrice" />
		<result column="MODEL_NO" property="modelNo" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="PRODUCT_WRITER" property="productWriter" />
		<result column="RESELL_NO" property="resellNo" />
		<result column="PRODUCT_SIZE" property="productSize" />
	</resultMap>
	
	<resultMap type="trade" id="tradeSet">
		<result column="PAYMENT" property="payment" />
		<result column="PURCHASE_DATE" property="purchaseDate" />
	</resultMap>
	
	<resultMap type="attachment" id="attachmentSet">
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
	</resultMap>
	
	<resultMap type="resellInfo" id="resellInfoSet">
		<result column="RESELL_NO" property="resellNo" />
		<result column="SELLER" property="seller" />
		<result column="PRODUCT_SIZE" property="productSize" />
		<result column="RESELL_PRICE" property="resellPrice" />
		
	</resultMap>
	
	<resultMap type="style" id="styleResultSet">
		<result column="STYLE_NO" property="styleNo"/>
		<result column="STYLE_TAG" property="styleTag"/>
		<result column="STATUS" property="status"/>
		<result column="STYLE_CONTENT" property="styleContent"/>
		<result column="COUNT" property="count"/>
		<result column="LIKE" property="like"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STYLE_WRITER" property="styleWriter"/>
		<result column="TITLE_IMG" property="titleImg" />
		<result column="NICKNAME" property="nickname" />
	</resultMap>

	<select id="selectBrand" resultMap="brandSet">
	SELECT BRAND_NAME
	FROM BRAND ORDER BY BRAND_NAME ASC
	</select>
	
	<select id="selectCollection" resultMap="collectionSet">
	SELECT COLLECTION_NAME
	FROM COLLECTION ORDER BY COLLECTION_NAME ASC
	</select>
	
	<select id="selectResellList" resultMap="productSet">
	SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, LIKES, COUNT, P.STATUS, TRADE_COUNT, PRODUCT_TYPE_NAME, BRAND_NAME, RELEASE_DATE, MIN(RESELL_PRICE), FILE_PATH||CHANGE_NAME TITLEIMG
	FROM PRODUCT P
	JOIN ATTACHMENT ON(PRODUCT_NO = REF_NO)
	JOIN RESELL_INFO USING(PRODUCT_NO)
	WHERE P.STATUS = 'Y' AND FILE_LEVEL = 1 AND TYPE_NO = 1
	GROUP BY PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, LIKES, COUNT, P.STATUS, TRADE_COUNT, PRODUCT_TYPE_NAME, BRAND_NAME, RELEASE_DATE, FILE_PATH||CHANGE_NAME
	ORDER BY PRODUCT_NO ASC
	</select>
	
	<select id="selectResellListCount" resultMap="productSet">
	SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, LIKES, COUNT, P.STATUS, TRADE_COUNT, PRODUCT_TYPE_NAME, BRAND_NAME, RELEASE_DATE, MIN(RESELL_PRICE), FILE_PATH||CHANGE_NAME TITLEIMG
	FROM PRODUCT P
	JOIN ATTACHMENT ON(PRODUCT_NO = REF_NO)
	JOIN RESELL_INFO USING(PRODUCT_NO)
	WHERE P.STATUS = 'Y' AND FILE_LEVEL = 1 AND TYPE_NO = 1
	GROUP BY PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, LIKES, COUNT, P.STATUS, TRADE_COUNT, PRODUCT_TYPE_NAME, BRAND_NAME, RELEASE_DATE, FILE_PATH||CHANGE_NAME
	ORDER BY COUNT DESC
	</select>
	
	<select id="selectResellListLikes" resultMap="productSet">
	SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, LIKES, COUNT, P.STATUS, TRADE_COUNT, PRODUCT_TYPE_NAME, BRAND_NAME, RELEASE_DATE, MIN(RESELL_PRICE), FILE_PATH||CHANGE_NAME TITLEIMG
	FROM PRODUCT P
	JOIN ATTACHMENT ON(PRODUCT_NO = REF_NO)
	JOIN RESELL_INFO USING(PRODUCT_NO)
	WHERE P.STATUS = 'Y' AND FILE_LEVEL = 1 AND TYPE_NO = 1
	GROUP BY PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, LIKES, COUNT, P.STATUS, TRADE_COUNT, PRODUCT_TYPE_NAME, BRAND_NAME, RELEASE_DATE, FILE_PATH||CHANGE_NAME
	ORDER BY LIKES DESC
	</select>
	
	<select id="selectResellListTrade" resultMap="productSet">
	SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, LIKES, COUNT, P.STATUS, TRADE_COUNT, PRODUCT_TYPE_NAME, BRAND_NAME, RELEASE_DATE, MIN(RESELL_PRICE), FILE_PATH||CHANGE_NAME TITLEIMG
	FROM PRODUCT P
	JOIN ATTACHMENT ON(PRODUCT_NO = REF_NO)
	JOIN RESELL_INFO USING(PRODUCT_NO)
	WHERE P.STATUS = 'Y' AND FILE_LEVEL = 1 AND TYPE_NO = 1
	GROUP BY PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, LIKES, COUNT, P.STATUS, TRADE_COUNT, PRODUCT_TYPE_NAME, BRAND_NAME, RELEASE_DATE, FILE_PATH||CHANGE_NAME
	ORDER BY TRADE_COUNT DESC
	</select>
	
	<select id="selectResellListDate" resultMap="productSet">
	SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, LIKES, COUNT, P.STATUS, TRADE_COUNT, PRODUCT_TYPE_NAME, BRAND_NAME, RELEASE_DATE, MIN(RESELL_PRICE), FILE_PATH||CHANGE_NAME TITLEIMG
	FROM PRODUCT P
	JOIN ATTACHMENT ON(PRODUCT_NO = REF_NO)
	JOIN RESELL_INFO USING(PRODUCT_NO)
	WHERE P.STATUS = 'Y' AND FILE_LEVEL = 1 AND TYPE_NO = 1
	GROUP BY PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, LIKES, COUNT, P.STATUS, TRADE_COUNT, PRODUCT_TYPE_NAME, BRAND_NAME, RELEASE_DATE, FILE_PATH||CHANGE_NAME
	ORDER BY RELEASE_DATE DESC
	</select>
	
	<update id="increaseCount">
	UPDATE PRODUCT
	SET COUNT = COUNT + 1
	WHERE PRODUCT_NO = #{productNo}
	AND STATUS = 'Y'
	</update>
	
	<select id="selectResellProduct" resultMap="productSet">
	SELECT *
	FROM (SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, LIKES, COUNT, P.STATUS, CREATE_DATE, MODIFY_DATE, PRODUCT_WRITER, TRADE_COUNT, PRODUCT_TYPE_NAME, BRAND_NAME, TO_CHAR(RELEASE_DATE, 'YYYY-MM-DD') AS "RELEASE_DATE", MODEL_NO, COLLECTION_NAME, RELEASE_PRICE, RESELL_PRICE
		  FROM PRODUCT P
		  JOIN RESELL_INFO USING(PRODUCT_NO)
		  WHERE PRODUCT_NO = #{productNo} AND P.STATUS ='Y'
	      ORDER BY RESELL_PRICE ASC)
	WHERE ROWNUM = 1
	</select>
	
	<select id="selectAttachmentList" resultMap="attachmentSet">
	SELECT FILE_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH
	FROM ATTACHMENT
	WHERE REF_NO = #{productNo} 
	AND FILE_LEVEL = 2
	AND TYPE_NO = 1
	</select>
	
	<select id="selectDetailProduct" resultMap="productSet">
	SELECT A.PRODUCT_NO, A.PRODUCT_SIZE, A.RESELL_PRICE, B.RESELL_NO
	   FROM (
	           SELECT PRODUCT_NO, PRODUCT_SIZE, MIN(RESELL_PRICE) RESELL_PRICE
	            FROM (SELECT *
	                    FROM RESELL_INFO
	                    WHERE STATUS = 'Y')
	            WHERE PRODUCT_NO = #{productNo}
	            GROUP BY PRODUCT_NO, PRODUCT_SIZE
	            ORDER BY PRODUCT_SIZE ASC) A, RESELL_INFO B
	   WHERE (A.PRODUCT_NO = B.PRODUCT_NO)     
	   AND (A.PRODUCT_SIZE = B.PRODUCT_SIZE)
	   AND (A.RESELL_PRICE = B.RESELL_PRICE)
	   ORDER BY PRODUCT_SIZE ASC
	</select>
	
	<select id="selectInterestProduct" parameterType="interested" resultType="_int">
	SELECT COUNT(*)
	FROM INTERESTED
	WHERE USER_ID = #{userId}
	AND PRODUCT_NO = #{productNo}
	</select>
	
	<insert id="insertInterestProduct" parameterType="interested">
	INSERT
	  INTO INTERESTED
	  	   (
	  	   USER_ID,
	  	   PRODUCT_NO
	  	   )
	VALUES 
		   (
		   #{userId},
		   #{productNo}
		   )
	</insert>
	
	<update id="updateInterestProduct" parameterType="interested">
	UPDATE PRODUCT SET LIKES = LIKES + 1 WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<delete id="deleteInterestProduct" parameterType="interested">
	DELETE FROM INTERESTED
	WHERE USER_ID = #{userId}
	AND PRODUCT_NO = #{productNo}
	</delete>
	
	<update id="reduceInterestProduct" parameterType="interested">
	UPDATE PRODUCT SET LIKES = LIKES - 1 WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<insert id="insertSellProduct" parameterType="resellInfo">
	INSERT INTO RESELL_INFO(RESELL_NO, PRODUCT_NO, SELLER, PRODUCT_SIZE, PRODUCT_AMOUNT, RESELL_UPLOAD_DATE, RESELL_PRICE)
	VALUES(SEQ_RSNO.NEXTVAL, #{productNo}, #{seller}, #{productSize}, 1, SYSDATE, #{resellPrice})
	</insert>
	
	<select id="priceGraphWeek" resultMap="tradeSet">
	SELECT AVG(TO_NUMBER(PAYMENT)) PAYMENT, TO_CHAR(PURCHASE_DATE, 'YYYY-MM-DD') AS "PURCHASE_DATE"
	FROM (SELECT PAYMENT, PURCHASE_DATE
	        FROM TRADE
	        WHERE PRODUCT_NO = #{productNo}
	        AND PURCHASE_DATE >= TO_CHAR(SYSDATE-7,'YYYYMMDD')
	        AND STATUS = 'Y'
	        AND DELIVERY = 'Y'
	        ORDER BY PURCHASE_DATE ASC)
	GROUP BY PURCHASE_DATE
	ORDER BY PURCHASE_DATE ASC
	</select>
	
	<select id="priceGraphMonth" resultMap="tradeSet">
	SELECT AVG(TO_NUMBER(PAYMENT)) PAYMENT, TO_CHAR(PURCHASE_DATE, 'YYYY-MM-DD') AS "PURCHASE_DATE"
	FROM (SELECT PAYMENT, PURCHASE_DATE
	        FROM TRADE
	        WHERE PRODUCT_NO = #{productNo}
	        AND PURCHASE_DATE >= TO_CHAR(SYSDATE-30,'YYYYMMDD')
	        AND STATUS = 'Y'
	        AND DELIVERY = 'Y'
	        ORDER BY PURCHASE_DATE ASC)
	GROUP BY PURCHASE_DATE
	ORDER BY PURCHASE_DATE ASC
	</select>
	
	<select id="priceGraphYear" resultMap="tradeSet">
	SELECT AVG(TO_NUMBER(PAYMENT)) PAYMENT, TO_CHAR(PURCHASE_DATE, 'YYYY-MM-DD') AS "PURCHASE_DATE"
	FROM (SELECT PAYMENT, PURCHASE_DATE
	        FROM TRADE
	        WHERE PRODUCT_NO = #{productNo}
	        AND PURCHASE_DATE >= TO_CHAR(SYSDATE-365,'YYYYMMDD')
	        AND STATUS = 'Y'
	        AND DELIVERY = 'Y'
	        ORDER BY PURCHASE_DATE ASC)
	GROUP BY PURCHASE_DATE
	ORDER BY PURCHASE_DATE ASC
	</select>
	
	<select id="selectResellInfo" resultMap="resellInfoSet">
	SELECT RESELL_NO, SELLER, PRODUCT_SIZE, RESELL_PRICE
	FROM RESELL_INFO
	WHERE RESELL_NO = #{resellNo}
	</select>
	
	<insert id="insertTrade" parameterType="trade">
	INSERT INTO TRADE VALUES(SEQ_TNO.NEXTVAL, #{recevierName}, #{recevierPhone}, #{recevierAddress}, #{orderComment}, #{payment}, SYSDATE, 'Y', 'Y', #{productNo}, #{buyer}, #{seller}, #{resellNo})
	</insert>
	
	<update id="updateResellInfo">
	UPDATE RESELL_INFO SET RESELL_DATE = SYSDATE, STATUS = 'N' WHERE RESELL_NO = #{resellNo}
	</update>
	
	<update id="updateProduct">
	UPDATE PRODUCT SET TRADE_COUNT = TRADE_COUNT + 1 WHERE PRODUCT_NO = #{productNo}
	</update>
	
	<select id="selectBoard" parameterType="selectUsedBoardVo" resultMap="productSet">
		SELECT *
		FROM(SELECT ROWNUM RNUM, A.*
		    FROM(
			    SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, BRAND_NAME, LIKES, FILE_PATH||CHANGE_NAME TITLEIMG
			    FROM PRODUCT P
			    JOIN ATTACHMENT ON(PRODUCT_NO = REF_NO)
			    WHERE (P.STATUS = 'Y' AND FILE_LEVEL = 1 AND TYPE_NO = 1)
			    <if test="productTypeName != null">
			    	<foreach item="p" index="i" collection="productTypeName" open="AND(" close=")" separator="OR">
				   		 PRODUCT_TYPE_NAME = #{p}
				    </foreach>
			    </if>
			    
			    <if test="brandName != null">
					<foreach item="b" index="i" collection="brandName" open="AND(" close=")" separator="OR">
				    	 BRAND_NAME = #{b}
				    </foreach>
			    </if>
			    
			    <if test="collectionName != null">
				    <foreach item="c" index="i" collection="collectionName" open="AND(" close=")" separator="OR">
				    	 COLLECTION_NAME = #{c}
				    </foreach>					
			    </if>
				
				) A)
		WHERE RNUM BETWEEN #{startRow} AND #{endRow}
		
		ORDER BY RNUM 
	</select>
	
	<select id ="selectListCount" parameterType="selectUsedBoardVo" resultType ="_int">
		SELECT COUNT(*) COUNT
		FROM(
			SELECT PRODUCT_NO
			FROM PRODUCT
			WHERE STATUS = 'Y'
			<if test="productTypeName != null">
		    	<foreach item="p" index="i" collection="productTypeName" open="AND(" close=")" separator="OR">
			   		  PRODUCT_TYPE_NAME = #{p}
			    </foreach>
		    </if>
		    
		    <if test="brandName != null">
				<foreach item="b" index="i" collection="brandName" open="AND(" close=")" separator="OR">
			    	 BRAND_NAME = #{b}
			    </foreach>
		    </if>
		    
		    <if test="collectionName != null">
			    <foreach item="c" index="i" collection="collectionName" open="AND(" close=")" separator="OR">
			    	 COLLECTION_NAME = #{c}
			    </foreach>					
		    </if>
			
			)
		
	</select>
	
	<select id="selectCount" resultType="_int">
	SELECT COUNT(*)
	FROM PRODUCT
	WHERE STATUS = 'Y'
	</select>
	
	<select id="productNoStyle" resultMap="styleResultSet">
  		SELECT STYLE_NO, STYLE_TAG, STYLE_CONTENT, COUNT, "LIKE", STYLE_WRITER, FILE_PATH||CHANGE_NAME TITLE_IMG, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
        FROM STYLE S
		JOIN ATTACHMENT ON(STYLE_NO = REF_NO)
		WHERE S.STATUS = 'Y'
        AND FILE_LEVEL = 1
        AND TYPE_NO = 3
        AND STYLE_TAG LIKE '%' || #{productNo} || '%'
        AND ROWNUM <![CDATA[ <= ]]> 4
        ORDER BY STYLE_NO DESC
  	</select>
  	
  	<select id="selectProductList" resultMap="productSet" >
             SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT, FILE_PATH||CHANGE_NAME TITLEIMG
            FROM PRODUCT P
            JOIN ATTACHMENT ON(PRODUCT_NO = REF_NO)
            WHERE P.STATUS = 'Y'
            AND FILE_LEVEL = 1
            AND TYPE_NO = 1
            AND PRODUCT_NO = #{l}
      </select>
 
</mapper>
