<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="styleMapper">


	<resultMap type="style" id="styleResultSet">
		<result column="STYLE_NO" property="styleNo"/>
		<result column="STYLE_TAG" property="styleTag"/>
		<result column="STATUS" property="status"/>
		<result column="STYLE_CONTENT" property="styleContent"/>
		<result column="COUNT" property="count"/>
		<result column="LIKE" property="like"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STYLE_WRITER" property="styleWriter"/>
		<result column="TITLE_IMG" property="titleImg" />
	</resultMap>


  

	<select id="selectStyleList" resultMap="styleResultSet">
        SELECT STYLE_NO, STYLE_TAG, STYLE_CONTENT,COUNT, "LIKE", STYLE_WRITER, FILE_PATH||CHANGE_NAME TITLE_IMG, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
        FROM STYLE S
		JOIN ATTACHMENT ON(STYLE_NO = REF_NO)
		WHERE S.STATUS = 'Y'
        AND FILE_LEVEL = 1
        AND TYPE_NO = 3
        ORDER BY STYLE_NO DESC
	</select>


	<insert id="insertStyle" parameterType="style">
		INSERT INTO STYLE (STYLE_NO, STYLE_TAG, STYLE_CONTENT, STYLE_WRITER)
		VALUES(SEQ_SNO.NEXTVAL, #{styleTag}, #{styleContent}, #{styleWriter})		
	</insert>



	<insert id="insertStyleAttachment">
		INSERT INTO ATTACHMENT
		(FILE_NO,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH,
		FILE_LEVEL,
		REF_NO,
		TYPE_NO)
		VALUES
		(SEQ_FNO.NEXTVAL,
		#{originName},
		#{changeName},
		#{filePath},
		#{fileLevel},
		SEQ_SNO.CURRVAL,
		3)
	</insert>

  	<select id="selectListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM STYLE
  		WHERE STATUS = 'Y'
  	</select>
  	
	<select id="selectStyle" resultType="style" parameterType="_int" resultMap="styleResultSet">
		SELECT STYLE_NO, STYLE_TAG, STYLE_CONTENT,STATUS, COUNT, "LIKE", CREATE_DATE, MODIFY_DATE, STYLE_WRITER
        FROM STYLE  
        WHERE STYLE_NO = #{sno}
        AND STATUS = 'Y'
	</select>
	
	
	<resultMap type="attachment" id="attachmentResultSet">
		<result column="FILE_NO" property="fileNo"/>
		<result column="ORIGIN_NANE" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="REF_NO" property="refNo"/>
		<result column="TYPE_NO" property="typeNo"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	

	
	
	<select id="selectAtt" resultMap="attachmentResultSet" parameterType="_int">
		SELECT  FILE_PATH||CHANGE_NAME FILE_PATH, FILE_LEVEL
        FROM STYLE
        JOIN ATTACHMENT ON (REF_NO = STYLE_NO)
        WHERE REF_NO = #{sno}
        ORDER BY FILE_LEVEL ASC
	</select>
  	
  	<update id="increaseCount" parameterType="_int">
  		  UPDATE STYLE
  		   SET COUNT = COUNT + 1
  		    WHERE STYLE_NO = #{sno} 
  		    AND STATUS = 'Y' 
  	</update>
  	
  	
  	<select id="selectLike" parameterType="like" resultType="_int">
  		SELECT COUNT(*)
		FROM LIKES
		WHERE USER_ID = #{userId}
		AND STYLE_NO = #{styleNo}
  	</select>
  	
  	<delete id="deleteLike" parameterType="like">
  		DELETE FROM LIKES
		WHERE USER_ID = #{userId}
		AND STYLE_NO = #{styleNo}
  	</delete>
  	
  	
  	<insert id="insertLike" parameterType="like">
  			INSERT INTO LIKES
			VALUES(#{userId}, #{styleNo})
  	</insert>
  	
  	<select id="selectReplyList" resultMap="replyResultSet">
  	    SELECT REPLY_NO, REPLY_WRITER, REPLY_CONTENT, TO_CHAR(REPLY_DATE, 'YYYY-MM-DD') AS "REPLY_DATE", STATUS, STYLE_NO
        FROM REPLY
        WHERE STYLE_NO = #{sno}
  	</select>
  	
  	<resultMap type="reply" id="replyResultSet">
		<result column="REPLY_NO" property="replyNo"/>
		<result column="REPLY_DATE" property="replyDate"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="STYLE_NO" property="refSno"/>
		<result column="REPLY_WRITER" property="replyWriter"/>
		<result column="STATUS" property="status"/>
	</resultMap>
  	
  	<insert id="insertReply" parameterType="reply">
  	 	INSERT INTO REPLY (REPLY_NO, REPLY_WRITER, REPLY_CONTENT, STYLE_NO)
        VALUES(SEQ_RNO.NEXTVAL, #{replyWriter}, #{replyContent}, #{refSno})
  	</insert>
  	
  	
  	<update id="deleteStyle">
  		UPDATE STYLE SET STATUS = 'N'
        WHERE STYLE_NO = #{sno}
  	</update>
  	
  	<update id="updateStyle" parameterType="style">
  		UPDATE STYLE SET STYLE_CONTENT = #{styleContent}
  		WHERE STYLE_NO = #{styleNo}
  	</update>
  	
  	<resultMap type="product" id="productSet">
		<result column="PRODUCT_NO" property="productNo" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRODUCT_CONTENT" property="productContent" />
	</resultMap>
  	
  	
  	<select id="searchProductList" resultMap="productSet">
      SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT
      FROM PRODUCT 
      WHERE STATUS = 'Y'
      AND PRODUCT_NAME LIKE '%' || #{keyWord} || '%'
      OR PRODUCT_CONTENT LIKE '%' || #{keyWord} || '%'
  	</select>
  	
  	
  	<select id="selectProductList" resultMap="productSet" >
  		
  		     SELECT PRODUCT_NO, PRODUCT_NAME, PRODUCT_CONTENT
            FROM PRODUCT 
            WHERE STATUS = 'Y'
            AND PRODUCT_NO = #{l}
  	</select>
  	
  	
  	
  	
  
</mapper>
