<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="styleMapper">


	<resultMap type="style" id="styleResultSet">
		<result column="STYLE_NO" property="styleNo"/>
		<result column="STYLE_TAG" property="styleTag"/>
		<result column="STATUS" property="status"/>
		<result column="STYLE_CONTENT" property="styleContent"/>
		<result column="COUNT" property="count"/>
		<result column="LIKE" property="like"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STYLE_WRITER" property="styleWriter"/>
		<result column="TITLE_IMG" property="titleImg" />
	</resultMap>


  

	<select id="selectStyleList" resultMap="styleResultSet">
		SELECT STYLE_NO, STYLE_TAG, STYLE_CONTENT,COUNT, "LIKE", STYLE_WRITER, FILE_PATH||CHANGE_NAME TITLE_IMG, TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS "CREATE_DATE"
        FROM STYLE S
		JOIN ATTACHMENT ON(STYLE_NO = REF_NO)
		WHERE S.STATUS = 'Y'
        AND FILE_LEVEL = 1
        AND TYPE_NO = 3
	</select>


	<insert id="insertStyle" parameterType="style">
		INSERT INTO STYLE (STYLE_NO, STYLE_TAG, STYLE_CONTENT, STYLE_WRITER)
		VALUES(SEQ_SNO.NEXTVAL, #{styleTag}, #{styleContent}, #{styleWriter})		
	</insert>



	<insert id="insertStyleAttachment">
		INSERT INTO ATTACHMENT
		(FILE_NO,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH,
		FILE_LEVEL,
		REF_NO,
		TYPE_NO)
		VALUES
		(SEQ_FNO.NEXTVAL,
		#{originName},
		#{changeName},
		#{filePath},
		#{fileLevel},
		SEQ_SNO.CURRVAL,
		3)
	</insert>

  	<select id="selectListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM STYLE
  		WHERE STATUS = 'Y'
  	</select>
  	

  	
  	
  	
  
</mapper>
