<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="usedBoardMapper">
	<resultMap type="commonName" id="categorySet">
		<result column="PRODUCT_TYPE_NAME" property="commonName"/>
	</resultMap>
	<resultMap type="commonName" id="brandSet">
		<result column="BRAND_NAME" property="commonName"/>
	</resultMap>
	<resultMap type="commonName" id="collectionSet">
		<result column="COLLECTION_NAME" property="commonName"/>
	</resultMap>
	

	<select id = "selectCategory" resultMap = "categorySet">
		SELECT *
		FROM "CATEGORY"
	</select>
	<select id = "selectBrand" resultMap = "brandSet">
		SELECT *
		FROM BRAND
	</select>
	<select id = "selectCollection" resultMap = "collectionSet">
		SELECT *
		FROM COLLECTION
	</select>
	<insert id="insertUsedBoard" parameterType="usedBoard">
		INSERT INTO USEDBOARD 
		(BOARD_NO, 
		BOARD_TITLE, 
		BOARD_CONTENT, 
		BOARD_WRITER, 
		BOARD_PRODUCT_NO,
		PRODUCT_TYPE_NAME,
		COLLECTION_NAME,
		BRAND_NAME,
		USED_PRICE)
		VALUES(SEQ_BNO.NEXTVAL, 
		#{boardTitle}, 
		#{boardContent}, 
		#{boardWriter}, 
		0, 
		#{productTypeName}, 
		#{collectionName}, 
		#{brandName},
		#{usedPrice})
	</insert>
	
	<insert id="insertImgUsedBoard">
		INSERT INTO ATTACHMENT
		(FILE_NO,
		ORIGIN_NAME,
		CHANGE_NAME,
		FILE_PATH,
		FILE_LEVEL,
		REF_NO,
		TYPE_NO)
		VALUES
		(SEQ_FNO.NEXTVAL,
		#{originName},
		#{changeName},
		#{filePath},
		1,
		SEQ_BNO.CURRVAL,
		2)
	</insert>
	
</mapper>